:root {

    /* THE HOVER AND ACTIVE VARIABLES ARE MOSTLY USED TO RESHADE BUTTONS WHEN YOU HOVER OVER/CLICK THEM */

    /* <---- IF YOU WANT TO CHANGE THE PINK TO ANOTHER COLOUR, JUST MESS AROUND WITH THIS ----> */
    /* <--------------------------- NEW VALUES MUST BE IN RGB FORM ---------------------------> */
    --epik-gamr-colour: var(--phen-aqua);
    --epik-gamr-colour-hover: 200, 0, 200;
    --epik-gamr-colour-active: 170, 0, 170;
    /* <------------------ A LOT OF PEOPLE HAVE REQUESTED IT SO HERE IT IS -------------------> */

    --gray-hover: 64, 69, 77;
    --gray-active: 51, 56, 63;

    --green: 62, 177, 99;
    --green-hover: 46, 133, 74;
    --green-active: 35, 100, 55;

    --yellow: 250, 168, 26;
    --yellow-hover: 197, 132, 21;
    --yellow-active: 170, 115, 19;

    --red: 237, 66, 69;
    --red-hover: 186, 50, 53;
    --red-active: 150, 39, 42;

    --phen-aqua: 55, 178, 203;

    --black: 0, 0, 0;
    --white: 255, 255, 255;

    --spotify-green: 30, 216, 96;
    --reaction-green: 0, 255, 0;
    --ping-red: 233, 76, 76;
    --alt-aqua: 9, 191, 210;

    --streaming: 111, 68, 185;
    --dnd: 255, 0, 0;
    --idle: 255, 255, 0;
    --online: 0, 200, 0;

    --brand-experiment: var(--epik-gamr-colour);
    --font-display: var(--font-primary) !important;
    --radio-group-dot-foreground: rgba(var(--epik-gamr-colour));
}

/* Important */
@import url("https://raw.githack.com/Snapperito/Settings-Icons/main/source.css");
@import "./dark-discord.scss";
@import "./old-icon.scss"; // Put it in a seperate file cuz the error in my IDE was annoying LOL
/* Title bar font */
@import url('https://fonts.cdnfonts.com/css/white-rabbit-2');

/* White badges (on hover) */
.clickable-17BDii:hover,
.powercord-badge-wrapper:hover {
    filter: brightness(500%) drop-shadow(0 0 6px white) !important;
}

/* Friends list */
.avatar-3W3CeO.wrapper-3t9DeA {
    margin-left: 10px;
}
.userInfo-2zN2z8 {
    overflow: visible;
}
.peopleListItem-2nzedh span[class*="botTagRegular-"],
.peopleListItem-2nzedh .discordTag-2_tqUA,
.peopleListItem-2nzedh .text-37NqbO {
    overflow: visible;
}

/* Server invite tab */
.theme-light .root-1gCeng {
    background-color: #23272A;
}
.theme-light .footer-2gL1pp {
    background-color: #23272A;
    border-color: rgba(var(--black));
    box-shadow: inset 0 0px 0 rgba(var(--black));
}
.templatesList-2E6rTe {
    height: 331px;
}
button[class*="backButton-iA7KIs button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN"],
button[class*="button-38aScr lookLink-9FtZy- lowSaturationUnderline-3svVxy colorPrimary-3b3xI6 sizeMin-1mJd1x grow-q77ONN"],
button[class*="button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN"],
.theme-light .lookLink-9FtZy-.colorPrimary-3b3xI6,
.anchor-3Z-8Bb {
    color: rgba(var(--phen-aqua));
}
div[class*="colorHeaderSecondary-3Sp3Ft size16-1P40sf subtitle-Nw1LLR"],
div[class*="colorHeaderSecondary-3Sp3Ft size12-3cLvbJ optionHeader-1-5lcp"],
div[class*="colorHeaderSecondary-3Sp3Ft size16-1P40sf subtitle-1Q3BuX"],
div[class*="colorHeaderSecondary-3Sp3Ft size14-e6ZScH skip-2o6MGG"],
div[class*="colorHeaderSecondary-3Sp3Ft size16-1P40sf subtitle-1KdHaN"],
div[class*="colorHeaderSecondary-3Sp3Ft size14-e6ZScH"],
div[class*="colorMuted-HdFt4q size12-3cLvbJ guidelines-1NSoht"],
h5[class*="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ formTitle-aeXUoN"], 
h5[class*="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP"] {
    color: rgba(150, 150, 150);
}
.container-UC8Ug1 {
    background-color: #727d8b;
    margin-bottom: 1px;
}
.container-UC8Ug1:hover {
    background-color: #58606b;
}
.container-UC8Ug1:active {
    background-color: #434b53;
}
.base-1x0h_U,
.colorStandard-2KCXvj {
    color: rgba(var(--white));
}

/* Few more steps before joining a server */
div[class*="notice-3uyY6c notice-3bPHh-"] {
    background-color: rgba(var(--epik-gamr-colour));
}
button[class*="button-2TV-eO backButton-3aYUcc button-38aScr lookOutlined-3sRXeN colorWhite-rEQuAQ grow-q77ONN"]:active,
button[class*="button-2TV-eO button-38aScr lookOutlined-3sRXeN colorWhite-rEQuAQ grow-q77ONN"]:active,
button[class*="button-gP4R86 button-38aScr lookOutlined-3sRXeN colorWhite-rEQuAQ grow-q77ONN"]:active {
    background-color: rgba(var(--white), 0.4) !important;
}
button[class*="button-gP4R86 button-38aScr lookOutlined-3sRXeN colorWhite-rEQuAQ grow-q77ONN"]:hover {
    background-color: rgba(var(--epik-gamr-colour));
}

/* Type Boxes */
@keyframes grey_to_black {
    from {
        background-color: #23272A;
    }
    to {
        background-color: black;
    }
}
@keyframes black_to_grey {
    from {
        background-color: black;
    }
    to {
        background-color: #23272A;
    }
}
input[class*="inputDefault-_djjkz input-cIJ7To"]:hover {
    border-color: rgba(0, 0, 0);
}
input[class*="inputDefault-_djjkz input-cIJ7To inputInner-2akrSS"] {
    color: rgba(200, 200, 200);
    background-color: #23272A;
    border: 1px solid rgba(200, 200, 200, 0.2);
    border-radius: 0px;
    padding: 10px;
}
.channelTextArea-3O-WhA,
textarea[class*="inputDefault-_djjkz input-cIJ7To textArea-1Lj-Ns scrollbarDefault-3COgCQ scrollbar-3dvm_9"],
input[class*="inputDefault-_djjkz input-cIJ7To"] {
    color: rgba(200, 200, 200);
}
.channelTextArea-3O-WhA,
.input-cIJ7To {
    color: rgba(100, 100, 100);
}
.channelTextAreaInnerFocused-M_uztw {
    background-color: black;
    border: 1px solid rgba(var(--epik-gamr-colour));
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
    overflow: visible;
}
.input-cIJ7To:focus {
    animation-name: grey_to_black;
    animation-duration: 0.40s;
    background-color: black;
}
.input-cIJ7To:disabled {
    animation-name: black_to_grey;
    animation-duration: 0.40s;
    background-color: #23272A;
}

/* Codeblocks */
.markup-2BOw-j code {
    background-color: rgb(5, 5, 5) !important;
    border: 2px solid rgb(5, 5, 5) !important;
}

/* Top section buttons */
.icon-22AiRD:hover {
    transform: scale(1.2);
}
div[aria-label="Update Ready!"] .icon-22AiRD {
    filter: drop-shadow(0 0 20px rgba(var(--green)));
}
.updateIconForeground-3tnNZn {
    fill: #3eb163 !important;
}
div[class*="iconWrapper-2OrFZ1 clickable-3rdHwn"] {
    filter: drop-shadow(0 0 20px white);
}
div[class*="iconWrapper-2OrFZ1 clickable-3rdHwn"]>svg>path[d="M13.4399 12.96C12.9097 12.96 12.4799 13.3898 12.4799 13.92V20.2213C12.4799 20.7515 12.9097 21.1813 13.4399 21.1813H14.3999C14.5325 21.1813 14.6399 21.2887 14.6399 21.4213V23.4597C14.6399 23.6677 14.8865 23.7773 15.0408 23.6378L17.4858 21.4289C17.6622 21.2695 17.8916 21.1813 18.1294 21.1813H22.5599C23.0901 21.1813 23.5199 20.7515 23.5199 20.2213V13.92C23.5199 13.3898 23.0901 12.96 22.5599 12.96H13.4399Z"] {
    fill: rgba(var(--epik-gamr-colour));
    filter: drop-shadow(0 0 3px rgba(var(--epik-gamr-colour)));
}
div[class*="iconWrapper-2OrFZ1 clickable-3rdHwn"]>svg>path[d="M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z"],
div[class*="iconWrapper-2OrFZ1 clickable-3rdHwn"]>svg>path[d="M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z"] {
    fill: rgba(var(--epik-gamr-colour));
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}

/* Buttons */
div[class*="themeDefault"].valueChecked-m-4IJZ,
button[class*="lookFilled"].colorBrand-3pXr91,
button[class*="lookFilled"].colorBrandNew-g5lmBU {
    background-color: rgba(var(--epik-gamr-colour));
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
    color: rgba(var(--white));
    border-color: rgba(var(--epik-gamr-colour));
}
button[class*="lookFilled"].colorBrand-3pXr91:hover,
button[class*="lookFilled"].colorBrandNew-g5lmBU:hover {
    background-color: rgba(var(--epik-gamr-colour-hover)) !important;
    color: rgba(var(--white)) !important;
    border-color: rgba(var(--epik-gamr-colour-hover)) !important;
}
button[class*="lookFilled"].colorBrand-3pXr91:active,
button[class*="lookFilled"].colorBrandNew-g5lmBU:active {
    background-color: rgba(var(--epik-gamr-colour-active)) !important;
    color: rgba(var(--white)) !important;
    border-color: rgba(var(--epik-gamr-colour-active)) !important;
}
button[class*="lookFilled"].colorBrand-3pXr91:disabled {
    background-color: rgba(var(--epik-gamr-colour));
    filter: none;
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
    background-color: rgba(var(--epik-gamr-colour));
}
.theme-light {
    --logo-primary: rgba(var(--epik-gamr-colour));
}
.pageWrapper-1PgVDX {
    background-color: rgba(var(--black)) !important;
    color: rgba(var(--white));
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background-color: rgba(var(--phen-aqua)) !important;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
button[class*="lookFilled"].colorGrey-2DXtkV:hover {
    background-color: rgb(var(--gray-hover)) !important;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
button[class*="lookFilled"].colorGrey-2DXtkV:active {
    background-color: rgb(var(--gray-active)) !important;
}
button[class*="lookFilled"].colorGreen-29iAKY {
    filter: drop-shadow(0 0 6px rgb(var(--green)));
}
button[class*="lookFilled"].colorGreen-29iAKY:hover {
    background-color: rgba(var(--green-hover)) !important;
}
button[class*="lookFilled"].colorGreen-29iAKY:active {
    background-color: rgba(var(--green-active)) !important;
}
button[class*="lookFilled"].colorGreen-29iAKY:disabled {
    filter: none;
}
button[class*="lookFilled"].colorYellow-2JqYwt {
    filter: drop-shadow(0 0 6px rgba(var(--yellow)));
}
button[class*="lookFilled"].colorYellow-2JqYwt:hover {
    background-color: rgba(var(--yellow-hover)) !important;
}
button[class*="lookFilled"].colorYellow-2JqYwt:active {
    background-color: rgba(var(--yellow-active)) !important;
}
button[class*="lookFilled"].colorYellow-2JqYwt:disabled {
    filter: none;
}
button[class*="lookFilled"].colorRed-1TFJan {
    filter: drop-shadow(0 0 6px rgba(var(--red)));
}
button[class*="lookFilled"].colorRed-1TFJan:hover {
    background-color: rgba(var(--red-hover)) !important;
}
button[class*="lookFilled"].colorRed-1TFJan:active {
    background-color: rgba(var(--red-active)) !important;
}
button[class*="lookFilled"].colorRed-1TFJan:disabled {
    filter: none;
}
.theme-dark .activeButton-rvKcqq,
.theme-dark .activeButton-rvKcqq:hover,
.theme-light .activeButton-rvKcqq,
.theme-light .activeButton-rvKcqq:hover {
    background-color: rgba(var(--phen-aqua));
    filter: drop-shadow(0 0 6px rgba(var(--phen-aqua)));
}
.selectorButtonSelected-t5V9On,
.selectorButton-EEUWed:hover {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}
.selectorButton-EEUWed:active {
    background-color: rgba(var(--epik-gamr-colour-active)) !important;
}
.activeButton-rvKcqq,
.activeButton-rvKcqq:hover {
    background-color: rgba(var(--epik-gamr-colour));
}
.container-1v9gV9 {
    overflow: visible;
}

/* Embeds & Messages */
.embedFull-2tM8-- {
    box-shadow: var(--elevation-high);
    filter: drop-shadow(0 0 6px rgba(var(--black)));
}
@keyframes unhover_to_hover {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--background-message-hover);
    }
}
@keyframes hover_to_unhover {
    from {
        background-color: var(--background-message-hover);
    }
    to {
        background-color: transparent;
    }
}
div[class*="message-2qnXI6 cozyMessage-3V1Y8y wrapper-2a6GCs"],
div[class*="message-2qnXI6 cozyMessage-3V1Y8y groupStart-23k01U wrapper-2a6GCs"] {
    animation-name: hover_to_unhover;
    animation-duration: 0.35s;
    background-color: transparent;
}
div[class*="message-2qnXI6 cozyMessage-3V1Y8y wrapper-2a6GCs"]:hover,
div[class*="message-2qnXI6 cozyMessage-3V1Y8y groupStart-23k01U wrapper-2a6GCs"]:hover {
    animation: unhover_to_hover;
    animation-duration: 0.35s;
    background-color: var(--background-message-hover);
}
.backgroundFlash-24qWLN {
    background-color: rgba(var(--epik-gamr-colour), 0.0) !important;
}

/* Date Picker */
.react-datepicker__day--keyboard-selected {
    background: rgba(var(--epik-gamr-colour)) !important;
}

/* Threads list */
.row-1ImlrZ:hover {
    background-color: rgba(var(--epik-gamr-colour));
}
.row-1ImlrZ:active {
    background-color: rgba(var(--epik-gamr-colour-hover));
}

/* Voice and Video stuff */
.theme-dark .progress-1IcQ3A {
    background-color: #404040;
}
.theme-dark .notches-1sAcEM.gray-3_LNYR {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='rgba(20, 20, 20)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* Clyde / Powercord */
.replying-1x3H0T:before,
.ephemeral-1PsL1r:before,
.localBot-GrCgVt:before {
    background-color: rgba(var(--phen-aqua)) !important;
}

.replying-1x3H0T,
.ephemeral-1PsL1r,
.localBot-GrCgVt {
    background-color: rgba(var(--phen-aqua), 0.05) !important;
}

.ephemeralMessage-1fEWtQ a {
    color: rgba(var(--phen-aqua)) !important;
}

/* Playing / Streaming Background */
div[class*="headerPlaying"],
div[class*="headerStreaming"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Members list */
.clickable-1JJAn8:hover span[class*="roleColor-"],
.icon-15YQ1T {
    filter: drop-shadow(0 0 3px currentColor);
}
.content-3QAtGj {
    overflow: visible;
}

/* Roles and stuff */
.notice-18685F {
    background-color: rgba(var(--epik-gamr-colour));
}

.roleMention-2Bj0ju.desaturate-qhyunI.wrapper-3WhCwL.mention:hover {
    filter: drop-shadow(0 0 10px currentColor);
}

.role-2irmRk {
    background: black;
    border: 1.5px solid;
    border-radius: 50px;
    padding: 0px;
    filter: brightness(100%);
}

.role-2irmRk:hover {
    filter: brightness(150%);
}

.roleCircle-3xAZ1j {
    opacity: 69%;
}
.role-2irmRk:hover .roleCircle-3xAZ1j {
    opacity: 100%;
    filter: drop-shadow(0 0 6px currentColor);
    overflow: visible;
}

.roleName-32vpEy {
    margin-right: 8px;
}

.addButton-pcyyf6 {
    padding: 2px 3px;
}

.actionButton-VzECiy {
    color: rgba(150, 150, 150);
}
.actionButton-VzECiy:hover {
    color: #fff;
}

/* Menus */
div[class*="colorDefault-"]:active:not(.hideInteraction-1iHO1O),
div[class*="colorDefault-"].focused-3afm-j {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    color: #fff !important;
}
div[class*="colorDefault-"].focused-3afm-j:active {
    background-color: rgba(var(--epik-gamr-colour-active)) !important;
    color: #fff !important;
}

div[class*="colorDanger-"].focused-3afm-j,
div[class*="colorDanger-"].focused-3afm-j:hover {
    background-color: rgba(var(--red)) !important;
}
div[class*="colorDanger-"].focused-3afm-j:active {
    background-color: rgba(var(--red-hover)) !important;
}
.item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ.focused-3afm-j {
    filter: drop-shadow(0 0 6px rgba(var(--red)));
}

/* Sliders */
div[class*="barFill-"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Switches */
div[class*="container-3auIfb"][style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
    filter: drop-shadow(0 0 6px rgba(var(--green-hover)));
}

/* Video background (VC) */
.backgroundOptionSelected-33AYZn {
    border: 2px solid rgba(var(--epik-gamr-colour));
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}

/* Reactions */
.reaction-1hd86g {
    border-color: rgba(100, 100, 100, 0.0);
    background-color: rgba(100, 100, 100, 0.2);
}
.reaction-1hd86g:hover {
    background-color: rgba(100, 100, 100, 0.2);
    border-color: rgba(100, 100, 100, 0.0) !important;
}
.reaction-1hd86g:active {
    background-color: rgba(100, 100, 100, 0.2)
}
.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: rgba(0, 0, 0) !important;
    border-color: rgba(var(--reaction-green), 1) !important;
    filter: drop-shadow(0 0 3px rgba(var(--reaction-green)));
}

.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
    color: rgba(var(--reaction-green));
}

.reactionInner-15NvIl {
    filter: drop-shadow(0 0 6px rgba(var(--white), 0.40));
}

/* Server Icons */
div[class*="subscribeTooltipWrapper-"] {
    background-color: rgba(var(--epik-gamr-colour));
}

div[class*="subscribeTooltipWrapper-"]::after {
    border-bottom-color: rgba(var(--epik-gamr-colour));
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: rgba(var(--epik-gamr-colour));
}

.item-1tOPte.labelContainer-1BLJti.colorPremium-p4p7qO.colorDefault-2K3EoJ .icon-LYJorE,
svg[class*="premiumIcon-"] {
    filter: drop-shadow(0 0 5px rgba(var(--epik-gamr-colour)));
}

svg[class*="ownerIcon-"] {
    filter: drop-shadow(0 0 6px rgba(var(--yellow)));
}

.iconContainer-2-XQPY svg {
    filter: drop-shadow(0 0 6px rgba(var(--red)));
}

/* Bot Buttons */
span[class*="botTagInvert-"] {
    color: rgba(var(--epik-gamr-colour)) !important;
}

/* Message Edit Buttons */
div[class*="operations-"] > a {
    color: rgba(var(--epik-gamr-colour)) !important;
}

/* Channel Sync Buttons */
button[class*="lookGhost-"].colorBrand-3pXr91 {
    color: rgba(var(--epik-gamr-colour)) !important;
    background-color: rgba(var(--epik-gamr-colour), 0.1) !important;
}

/* Channels UI */
.icon-1DeIlz path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"] {
    filter: drop-shadow(0 0 4px white);
    overflow: visible;
}
.wrapper-2jXpOf:hover .content-1x5b-n {
    background: linear-gradient(to right, rgba(var(--epik-gamr-colour), 0.5), transparent);
}
.wrapper-2jXpOf:active .content-1x5b-n {
    background: linear-gradient(to right, rgba(var(--epik-gamr-colour)), transparent);
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
.modeSelected-346R90 .content-1x5b-n,
.modeSelected-346R90:hover .content-1x5b-n {
    background: linear-gradient(to right, rgba(var(--epik-gamr-colour), 0.5), transparent);
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
.modeSelected-346R90 .content-1x5b-n .children-3rEycc svg[class="actionIcon-PgcMM2"] path[fill=currentColor] {
    fill: white;
}
.modeSelected-346R90 .content-1x5b-n .iconContainer-1BBaeJ svg[class="icon-1DeIlz"] path[fill=currentColor] {
    fill: white;
}
.iconVisibility-sTNpHs .wrapper-2jXpOf {
    border-radius: 10px;
}
.containerDefault--pIXnN:hover .iconContainer-1BBaeJ svg {
    filter: drop-shadow(0 0 6px white) !important;
}
.containerDefault--pIXnN:hover .iconContainer-1BBaeJ svg path {
    fill: white;
}
.iconWrapper-2OrFZ1 svg path {
    fill: white;
}
.iconWrapper-2OrFZ1 {
    overflow: visible;
    filter: drop-shadow(0 0 3px white);
}
.iconVisibility-sTNpHs.wrapper-2jXpOf.modeMuted-onO3r- div a .iconContainer-1BBaeJ svg path {
    fill: black;
}

/* Video Player */
div[class*="mediaBarInteractionDragging-"] .mediaBarGrabber-1FqnbN,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl::after, 
.mediaBarProgress-1xaPtl::before,
div[class*="progressBar-3u8FBM small-1CUeBa animating-3Qqqzp"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour))) !important;
}

.progressContainer-3ao-eu.metadata-3WGS0M.size12-3R0845.height16-2Lv3qA {
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}

/* Guild Avatar Without Icon */
div[class*="guildAvatarWithoutIcon-"] {
    background-color: rgba(var(--epik-gamr-colour));
}

/* Cube Loading Spinner */
span[class*="wanderingCubesItem-"] {
    background-color: rgba(var(--epik-gamr-colour));
}

/* Startup GIF */
video[class*="ready-"] {
    filter: drop-shadow(0 0 25px white);
}
video[class*="ready-"] img,
video[class*="ready-"] source {
    src: 'https://imgur.com/a/k6Ugtlx.gif' !important;
}

/* Load More Messages */
.hasMore-3e72_v {
    color: rgba(var(--epik-gamr-colour));
}

/* Server Badges */
svg[aria-label="Discord Partner"] {
    color: rgba(var(--epik-gamr-colour)) !important;
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
    overflow: visible;
}
svg[aria-label*="Verified"] {
    filter: drop-shadow(0 0 6px rgba(var(--green-hover)));
    overflow: visible;
}

/* Wide Buttons */
div[class*="radioGroup-"] div[style*="background-color: rgb(114, 137, 218)"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    border-color: rgba(var(--epik-gamr-colour)) !important;
}
div[class*="cardPrimaryEditable-"] div[style*="border-color: rgb(114, 137, 218)"] {
    border-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Discord Nitro Button in Settings */
.side-8zPYf6 > .item-PXvHYJ[data-item-id=DiscordNitro]:not(.role-3wi9Tf)::before {
    --settings-icon-color: rgba(var(--epik-gamr-colour));
}
.side-8zPYf6 > .item-PXvHYJ[aria-selected=true][data-item-id=DiscordNitro]::before {
    --settings-icon-color: white;
}
.side-8zPYf6>.item-PXvHYJ[data-item-id=GUILD_PREMIUM]:not(.role-3wi9Tf)::before {
    --settings-icon-color: rgba(var(--epik-gamr-colour));
}
.side-8zPYf6>.item-PXvHYJ[aria-selected=true][data-item-id=GUILD_PREMIUM]::before {
    --settings-icon-color: white;
}

/* Folder Icons */
div[class*="expandedFolderIconWrapper-"] svg[style*="color: rgb(88, 101, 242);"] {
    color: rgba(var(--epik-gamr-colour)) !important;
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
div[class*="folder-"] div[style*="background-color: rgba(88, 101, 242, 0.4);"] {
    background-color: rgba(var(--epik-gamr-colour), 40%) !important;
    filter: drop-shadow(0 0 2px rgba(var(--epik-gamr-colour)));
}

/* Checkbox Button (1 of 1000) */
label[class*="checkboxWrapper-"] div[style*="border-color: var(--control-brand-foreground);"],
.box-mmYMsp {
    border-color: rgba(var(--epik-gamr-colour)) !important;
    color: white !important;
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
div[class*="checkbox-1ix_J3 flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs box-mmYMsp checked-3_4uQ9"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}
path[fill*="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
    fill: white !important;
}
.selectedIcon-3uS11H {
    color: rgba(var(--epik-gamr-colour)) !important;
}
div[class*="item-1tOPte labelContainer-1BLJti colorDefault-2K3EoJ focused-3afm-j"]:hover {
    div[class="iconContainer-2-XQPY"] svg circle {
        fill: white !important;
    }
}
/* Selection buttons (the circular checkboxes) */
div[class*="radioBar-bMNUI-"] div svg[aria-hidden*="false"] circle {
    fill: rgba(var(--epik-gamr-colour));
}
div[class*="radioBar-bMNUI-"] div svg {
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
div[class*="checkbox-1ix_J3 flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs round-2jCFai checked-3_4uQ9"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}
/* Beta/new tag */
div[class*="betaBadge-"],
div[class*="betaTag-"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
.tag-1aipTK {
    background-color: rgba(var(--epik-gamr-colour));
}
/* Other things on the profile page */
button[class*="customSwatch-1axV7B swatch-3mFIiP defaultSwatch-2nDSvP button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeMedium-1AC_Sl grow-q77ONN"] {
    border-color: rgba(var(--gray-active)) !important;
}
/* the nitro tier thing */
div[class*="tierUnlocked-"] {
    color: black !important;
}
.premiumTabItem-1QTfBr[aria-selected=true],
.serverBoostTabItem-2hFTIN[aria-selected=true] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Upload Image Button */
svg circle[fill*="#7289DA"] {
    fill: rgba(var(--epik-gamr-colour)) !important;
}

/* Audit Log Search */
div[class*="scroller-"] div[style*="background: rgb(114, 137, 218);"] {
    background: rgba(var(--epik-gamr-colour)) !important;
}

/* Clear After Popout Border */
.lookFilled-1h1y05.select-1Pkeg4:focus,
.lookFilled-1h1y05.selectOpen-hQuR6b {
    border-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Toast */
.powercord-toast[data-toast-type=info] .icon {
    color: rgba(var(--epik-gamr-colour)) !important;
}

/* Permissions Sync Text */
.message-15tBk4 strong {
    color: rgba(var(--epik-gamr-colour)) !important;
    background-color: rgba(var(--epik-gamr-colour), 0.1)e;
}

/* Changelog */
.improved-2jOfnH {
    color: rgba(var(--epik-gamr-colour)) !important;
}
.improved-2jOfnH:after {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Mentions */
.mention.wrapper-3WhCwL {
    color: rgba(var(--ping-red));
    background: rgba(var(--ping-red), 0.1);
}

.unreadMentionsIndicatorTop-2-tcdU {
    top: 50px;
    filter: drop-shadow(0 0 6px rgba(var(--ping-red)));
}

.unreadMentionsIndicatorBottom-2mDYbI {
    bottom: 120px;
    filter: drop-shadow(0 0 6px rgba(var(--ping-red)));
}

.numberBadge-2s8kKX.base-PmTxvP.baseShapeRound-1Mm1YW {
    filter: drop-shadow(0 0 6px rgba(var(--ping-red)));
}

/* Another Darned Checkbox */
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    border-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Sync Server Template */
.tooltipBrand-g03Nz8,
.theme-light .tooltipBrand-g03Nz8 {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}
.tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK,
.theme-light .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK {
    border-top-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Media Loader */
div[class*="progress-"] div[style*="background-color: rgb(114, 137, 218);"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Other coloured Bars */
.selectedProgressBar-1Z4WVU {
    background-color: rgba(var(--epik-gamr-colour));
}

/* Loading Screen Tip */
div[class*="tipTitle-"] {
    color: rgba(var(--epik-gamr-colour)) !important;
}

/* Nother Loading Spinner */
.path-92Hmty {
    stroke: rgba(var(--epik-gamr-colour)) !important;
}
.path2-1q7bG_ {
    stroke: rgba(var(--epik-gamr-colour)) !important;
    opacity: .6;
}
.path3-2l9TIX {
    stroke: rgba(var(--epik-gamr-colour));
    filter: grayscale(90%);
}

/* Discovery Thing*/
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background-color: rgba(var(--epik-gamr-colour));
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
    overflow: visible;
}
.categoryPill-34fszg.selected-1dONk0 {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
.search-1iTphC .searchBox-2_mAlO {
    background-color: #000 !important;
    box-shadow: var(--elevation-high);
}
.search-1iTphC .searchBox-2_mAlO:focus,
.search-1iTphC .searchBox-2_mAlO:focus-within {
    box-shadow: 0 0 0 1px rgba(var(--epik-gamr-colour)), 0 0 0 2px rgba(var(--epik-gamr-colour), 0.5), 0 0 0 3px rgba(var(--epik-gamr-colour), 0.25);
}
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
    color: #fff !important;
}
.theme-dark .searchBox-3Y2Vi7 {
    background-color:rgba(0, 0, 0);
}
.searchBox-3Y2Vi7:focus,
.searchBox-3Y2Vi7:focus-within {
    border-color: rgba(var(--epik-gamr-colour));
}
path[d*="M7.02799 0.333252C3.346 0.333252 0.361328 3.31792 0.361328 6.99992C0.361328 10.6819 3.346 13.6666 7.02799 13.6666C10.71 13.6666 13.6947 10.6819 13.6947 6.99992C13.6947 3.31792 10.7093 0.333252 7.02799 0.333252ZM10.166 9.19525L9.22333 10.1379L7.02799 7.94325L4.83266 10.1379L3.89 9.19525L6.08466 6.99992L3.88933 4.80459L4.832 3.86259L7.02733 6.05792L9.22266 3.86259L10.1653 4.80459L7.97066 6.99992L10.166 9.19525Z"] {
    fill: #fff !important;
}
path[d*="M21.707 20.293L16.314 14.9C17.403 13.504 18 11.799 18 10C18 7.863 17.167 5.854 15.656 4.344C14.146 2.832 12.137 2 10 2C7.863 2 5.854 2.832 4.344 4.344C2.833 5.854 2 7.863 2 10C2 12.137 2.833 14.146 4.344 15.656C5.854 17.168 7.863 18 10 18C11.799 18 13.504 17.404 14.9 16.314L20.293 21.706L21.707 20.293ZM10 16C8.397 16 6.891 15.376 5.758 14.243C4.624 13.11 4 11.603 4 10C4 8.398 4.624 6.891 5.758 5.758C6.891 4.624 8.397 4 10 4C11.603 4 13.109 4.624 14.242 5.758C15.376 6.891 16 8.398 16 10C16 11.603 15.376 13.11 14.242 14.243C13.109 15.376 11.603 16 10 16Z"] {
    fill: #fff !important;
}
.guildInfo-2wGKIg {
    overflow: visible;
}

/* notif settings thing */
.wrapper-3jrx9n {
    border-color: rgba(var(--epik-gamr-colour)) !important;
}
.option-n0icdO:hover,
.selected-mKYnfr.option-n0icdO {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    border-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Link underlines */
.lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,transparent,transparent 1px, rgba(var(--epik-gamr-colour)) 0,rgba(var(--epik-gamr-colour)) 2px,transparent 0);
}

/* Date Picker */
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z,
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after,
.calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}

/* Gif Picker */
.categoryFadeBlurple-1j72_A {
    background-color: rgba(var(--epik-gamr-colour), 0.8) !important;
}
.result-3w1ZcL:hover:after {
    -webkit-box-shadow: inset 0 0 0 2px rgba(var(--epik-gamr-colour)), inset 0 0 0 3px #2f3136 !important;
    box-shadow: inset 0 0 0 2px rgba(var(--epik-gamr-colour)), inset 0 0 0 3px #2f3136 !important;
}
/* Slash command options */
.active-2awTSY {
    background-color: rgba(var(--epik-gamr-colour)) !important;
    color: #ffffff;
}

/* Preview mode */
.notice-2X5hT5 {
    background-color: rgba(var(--epik-gamr-colour));
}
button[class*="button-2PWmas button-38aScr lookOutlined-3sRXeN colorWhite-rEQuAQ grow-q77ONN"]:active,
button[class*="button-2PWmas back-1Ess-_ button-38aScr lookOutlined-3sRXeN colorWhite-rEQuAQ grow-q77ONN"]:active {
    background-color: rgba(var(--white), 0.4) !important;
}
button[class*="lookOutlined-3sRXeN colorWhite-rEQuAQ grow-q77ONN"]:hover {
    background-color: rgba(var(--epik-gamr-colour));
}

/* Other stuff */
div[class*="colorDefault"].focused-3afm-j,
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ {
    color: #fff !important;
}

button[class*="lookOutlined"].colorBrand-3pXr91 {
    color: rgba(var(--epik-gamr-colour)) !important;
    border-color: rgba(var(--epik-gamr-colour), 30%);
}

button[class*="lookOutlined"].colorBrand-3pXr91:hover {
    border-color: rgba(var(--epik-gamr-colour), 50%);
}

[class^="regionSelectModalOption-"]:hover,
.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus {
    border-color: rgba(var(--epik-gamr-colour)) !important;
}

circle[class^="radioSelection-"],
[fill*="7289da"] {
    fill: rgba(var(--epik-gamr-colour)) !important;
}

polyline[stroke*="7289da"] {
    stroke: rgba(var(--epik-gamr-colour)) !important;
}

[class^="sampleLink-"],
.title-2Dc-Cb,
[class^="regionSelectModalHeader-"],
.lookGhost-2Fn_0-.colorBrand-3pXr91,
.lookLink-9FtZy-.colorBrand-3pXr91,
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN,
div[class*="colorBrand"] {
    color: rgba(var(--epik-gamr-colour)) !important;
}

div[class="notice-3bPHh- notice-18685F colorBrand-2zeG8h"] {
    color: white !important;
}

div[class*="topSectionPlaying-"],
[class^="avatarUploaderInner-"] {
    background-color: rgba(var(--epik-gamr-colour)) !important;
}

span[class^="questionMark-"],
.interactive:hover,
div[class^="newMessagesBar-"],
div[class^="dot-"],
span[class*="botTagRegular"] {
    background-color: rgba(9, 191, 210) !important;
    color: #fff !important;
    border-color: rgba(0, 0, 0) !important;
    filter: drop-shadow(0 0 5px rgba(var(--alt-aqua)));
    overflow: visible;
}
section[class="container-1r6BKw themed-ANHk51"] .iconWrapper-2OrFZ1 svg path[d="M0.5,0 L0.5,1.5 C0.5,5.65 2.71,9.28 6,11.3 L6,16 L21,16 L21,14 C21,11.34 15.67,10 13,10 C13,10 12.83,10 12.75,10 C8,10 4,6 4,1.5 L4,0 L0.5,0 Z M13,0 C10.790861,0 9,1.790861 9,4 C9,6.209139 10.790861,8 13,8 C15.209139,8 17,6.209139 17,4 C17,1.790861 15.209139,0 13,0 Z"] {
    fill: rgba(var(--white), 1);
}
section[class="container-1r6BKw themed-ANHk51"] .iconWrapper-2OrFZ1 svg path[d="M0,0 L24,0 L24,24 L0,24 L0,0 Z M0,0 L24,0 L24,24 L0,24 L0,0 Z M0,0 L24,0 L24,24 L0,24 L0,0 Z"] {
    fill: none;
}
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx,
.content-3QAtGj {
    overflow: visible;
}

/* Chat box menu */
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j {
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
.tipSubtext-10zY2N {
    color: white;
}

/* Pinned stuff (server list) */
.tutorialContainer-2sGCg9,
.tutorialContainer-11ICd5 {
    position: fixed;
    z-index: 1;
    background: linear-gradient(var(--background-tertiary) 100%, transparent);
}
.guilds-1SWlCJ .scroller-1Bvpku { contain: none !important; padding-top: 0;}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label], .guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: 55px;}
.guilds-1SWlCJ .scroller-1Bvpku > [style] ~ [aria-label] { margin-top: 0px; margin-bottom: 120px;}
.tutorialContainer-2sGCg9 .homeIcon-FuNwkv,
.tutorialContainer-11ICd5 .homeIcon-AaowEC {
    filter: drop-shadow(0 0 8px white);
}

.tutorialContainer-32VdNI,
.scroller-1Bvpku>.listItem-1hlISG {
    position: fixed;
    background: var(--background-tertiary);
}
.tutorialContainer-32VdNI {
    bottom: 55px;

}
.scroller-1Bvpku>.listItem-1hlISG {
    bottom: 0px;
}
.scroller-1Bvpku>.listItem-1hlISG {
    box-shadow: -10px 0px 0px var(--background-tertiary);
    border-top: 0px solid var(--background-tertiary);
    border-right: 9px solid var(--background-tertiary);
    border-bottom: 2px solid var(--background-tertiary);
    filter: drop-shadow(0 10px 0px var(--background-tertiary));
}

/* Gradients for the above */
.wrapper-3NnKdC > ul > .scroller-1Bvpku > div[aria-label="Servers"] {
    margin-top: 60px;
}

.tutorialContainer-2sGCg9,
.tutorialContainer-11ICd5 {
    box-shadow: 0px 5px 5px var(--background-tertiary);
}

.tutorialContainer-32VdNI {
    box-shadow: 0px -10px 5px var(--background-tertiary);
}

.container-3w7J-x {
    z-index: 1;
}

/* Lined Categories */
.scroller-2FKFPG {
    position: relative;
}
.containerDefault-3tr_sE::after {
    content: "";
    position: absolute;
    top: 28px;
    background: linear-gradient(to right, rgba(var(--epik-gamr-colour)), transparent, transparent, transparent, rgba(var(--epik-gamr-colour)));
    height: 1.1px;
    left: 6px;
    right: 0px;
    z-index: -1;
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
    overflow: visible;
}
.containerDefault-3tr_sE:hover::after {
    background: linear-gradient(to right, rgba(var(--phen-aqua)), transparent, transparent, transparent, rgba(var(--phen-aqua)));
    filter: drop-shadow(0 0 6px rgba(var(--phen-aqua)));
}
.containerDefault-3tr_sE {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.containerDefault-3tr_sE > * {
    background: var(--background-secondary) !important;
    box-shadow: var(--elevation-high);
    border-radius: 2.5px;
    margin: 0 auto;
}
svg[class="arrow-gKvcEx icon-2yIBmh"] {
    left: 3px;
}
div[class="iconVisibility-fhcwiH wrapper-PY0fhH collapsed-2-tg8y clickable-536fPF"] {
    border: 1px solid rgba(var(--epik-gamr-colour));
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour)));
}
.containerDefault-3tr_sE:hover div[class="iconVisibility-fhcwiH wrapper-PY0fhH collapsed-2-tg8y clickable-536fPF"],
div[class="iconVisibility-fhcwiH wrapper-PY0fhH collapsed-2-tg8y clickable-536fPF"]:hover {
    border: 1px solid rgba(var(--phen-aqua));
    filter: drop-shadow(0 0 6px rgba(var(--phen-aqua)));
}
div[class="iconVisibility-fhcwiH wrapper-PY0fhH clickable-536fPF"] {
    border: 1px solid rgba(var(--epik-gamr-colour), 0.5);
    filter: drop-shadow(0 0 6px rgba(var(--epik-gamr-colour), 0.5));
}
.containerDefault-3tr_sE:hover div[class="iconVisibility-fhcwiH wrapper-PY0fhH clickable-536fPF"],
div[class="iconVisibility-fhcwiH wrapper-PY0fhH clickable-536fPF"]:hover {
    border: 1px solid rgba(var(--phen-aqua), 0.5);
    filter: drop-shadow(0 0 6px rgba(var(--phen-aqua), 0.5));
}

/* Unread pill replace */
.unread-2lAfLh {
    filter: drop-shadow(0 0 4px white);
    overflow: visible;
}
.item-2hkk8m {
    filter: drop-shadow(0 0 6px rgba(var(--brand-experiment)));
    background-color: rgba(var(--brand-experiment));
}
.pill-3N7f9r.wrapper-sa6paO,
.pill-1z4sAY.wrapper-sa6paO {
    overflow: visible;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    width: 45px;
    height: 45px;
    background-color: rgba(var(--epik-gamr-colour)) !important;
    border-radius: 15px;
    filter: drop-shadow(0 0 2px rgba(var(--brand-experiment)));
    overflow: visible;
}
.tutorialContainer-2sGCg9 .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.tutorialContainer-11ICd5 .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    filter: drop-shadow(0 0 8px rgba(var(--brand-experiment)));
}
.childWrapper-anI2G9 {
    transition: none !important;
}
.svg-1X37T1 foreignObject,
.listItemWrapper-t7zeg3 {
    overflow: visible;
}
.tutorialContainer-2sGCg9 .svg-1X37T1 mask,
.tutorialContainer-11ICd5 .svg-1X37T1 mask {
    display: none;
}

.listItem-1hlISG,
.blobContainer-pmnxKB,
.wrapper-25eVIn {
    border-radius: 20px;
}

/* User statuses */
div[class*="wrapper-3t9DeA"][aria-label*="Streaming"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--streaming)));
}
div[class*="wrapper-3t9DeA"][aria-label*="Do Not Disturb"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--dnd)));
}
div[class*="wrapper-3t9DeA"][aria-label*="Idle"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--idle), 0.75));
}
div[class*="wrapper-3t9DeA"][aria-label*="Online"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--online), 0.75));
}

/* Makes home button transparent */
.childWrapper-anI2G9 {
    --props: .35s ease-in-out;  
    color: white;
    background-color: rgba(var(--black), 0) !important;
    transition: color var(--props),
    background-color var(--props);
}
.childWrapper-anI2G9:hover,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    color: white;
    background-color: black;
}

/* Scrolling codeblocks */
.powercord code button {
    position: absolute;
    top: 0px;
    padding: 0 6px;
    bottom: unset !important;
    line-height: 15px;
    border-radius: 4px;
}
.powercord code:not(.inline) {
    overflow: auto;
    white-space: pre;
}
.powercord code::-webkit-scrollbar {
    height: 4px;
}
.powercord code::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--background-secondary-alt);
}

/* Spotify thing in status */
.spotifyIcon-2J9kSv {
    filter: drop-shadow(0 0 6px rgba(var(--spotify-green)));
    overflow: visible;
}
.timeBarUserPopout-AWPFf2 {
    filter: drop-shadow(0 0 6px white);
}
.spotifyButtonLogo-3uT57D path {
    fill: rgba(var(--spotify-green));
}

/* Connections */
.connectedAccount-36nQx7 {
    background-color: transparent;
    border: none;

    .connectedAccountNameInner-1phBvE {
        &::after {
            content: '';
            position: absolute;
            border-radius: 2px;
            border: solid 1px transparent;
            margin-left: -40px;
            height: 46px;
            width: 260px;
        }
    }

    .connectedAccountVerifiedIcon-3aZz_K {
        .flowerStar-1GeTsn path {
            fill: rgba(var(--white), 0.25);
        }
        .childContainer-1wxZNh {
            margin-top: 1px;
        }
    }

    .connectedAccountIcon-3P3V6F,
    .connectedAccountName-f8AEe2,
    .connectedAccountNameInner-1phBvE span,
    .connectedAccountNameInner-1phBvE + .anchor-3Z-8Bb {
        z-index: 1;
    }
    .connectedAccountIcon-3P3V6F {
        margin-left: 2px;
    }
}
$defaultConnections:
    'GitHub' #181b1f #d9dadb,
    'Twitch' #3A2E5E #563194,
    'Steam' #171a21 #2a475e,
    'Spotify' #2C523E #1ED760,
    'Twitter' #266994 #1DA1F2,
    'Reddit' #7D442A #FF6314,
    'YouTube' #772528 #EE0F0F,
    'Battle.net' #264659 #009AE4,
    'Xbox Live' #394E31 #5DC21E,
    'Facebook' #14223d #3A5998,
    'League of Legends' #424491 #676AE6,
    'Skype' #106d8f #00AAE8;

@each $name, $connectionBackground, $connectionBorder in $defaultConnections {
    [alt="#{$name} Logo"] + .connectedAccountNameInner-1phBvE::after {
        background: $connectionBackground;
        border-color: $connectionBorder;
    }
}
$pluginConnections:
    'GitLab' #6E4330 #FC6D26,
    'Minecraft' #693037 #EE303D,
    'osu!' #5F3E51 #EE65A2,
    'discord.bio' #3d4870 #7289da;

@each $name, $connectionBackground, $connectionBorder in $pluginConnections {
    [alt="#{$name} Logo"] + .connectedAccountNameInner-1phBvE::after {
        background: $connectionBackground;
        border-color: $connectionBorder;
    }
}
/* BG */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
/* Modals */
.root-SR8cQa > div:not(.body-3ND3kc){
    transform: translateZ(0);

    .header-QKLPzZ .wrapper-3t9DeA {
        &::after {
            content: '';
            position: fixed;
            top: 0 !important;
            left: 0 !important;
            width: 100%;
            height: 100%;
            opacity: .5;
            z-index: 0 !important;
            pointer-events: none;
            background: var(--user-background) center/cover no-repeat;
        }

        svg {
            z-index: 1;
            position: relative;
        }
    }

    .headerInfo-30uryT, .tabBarItem-1b8RUP, .activity-1ythUs {
        z-index: 1;
        position: relative;
    }
}
/* Pop-outs */
.userPopout-3XzG_A {
    .header-2BwW8b {transform: translateZ(0)}

    .wrapper-3t9DeA::after {
        content: "";
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        opacity: .5;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: var(--user-popout-position) center;
        background-image: var(--user-background);
    }
}
/* Webkit-scrollbars */
#app-mount {
    .scrollerBase-289Jih {
        &.disableScrollAnchor-3V9UtP,
        &.auto-Ge5KZx {
            &::-webkit-scrollbar {
                &-thumb {
                    background-color: rgb(var(--white), 0.2);
                }
    
                &-track {
                    background-color: var(--background-modifier-accent);
                }
            }
        }
    
        &.thin-1ybCId::-webkit-scrollbar-thumb {
            background-color: rgb(var(--white), 0.2);
        }
    }

    .rolesList-22qj2L::-webkit-scrollbar-thumb {
        background-color: rgb(var(--white), 0.2);
    }
}

/* Spoilers */
#app-mount .spoilerText-3p6IlD {
    background-color: rgb(var(--white), 0.15);
}
