.scroller-1Bvpku>.listItem-1hlISG {
    position: fixed;
    background: var(--background-tertiary);
}

.guilds-1SWlCJ .scroller-1Bvpku > [aria-label], .guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: 55px;}

.tutorialContainer-2sGCg9,
.tutorialContainer-11ICd5 {
    position: fixed;
    z-index: 1;
    background: linear-gradient(var(--background-tertiary) 100%, transparent);
}

.wrapper-3NnKdC > ul > .scroller-1Bvpku > div[aria-label] {
    margin-top: 60px;
}

.tutorialContainer-2sGCg9,
.tutorialContainer-11ICd5 {
    box-shadow: 0px 5px 5px var(--background-tertiary);
}
