// ╭┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ >> >
// ┃ Settings Icons
// ╰───────────────────────────────────────────────────────── >> >

@mixin icon(
    $id,
    $path,
    $color: currentColor,
    $selected-white: false,
    $w: 24,
    $h: 24
) {
    .side-2ur1Qk > .item-3XjbnG[aria-controls="#{$id}"] {
        &::before {
            --icon: url("data:image/svg+xml;utf-8;,<svg width='#{$w}' height='#{$h}' viewBox='0 0 #{$w} #{$h}' fill='none' xmlns='http://www.w3.org/2000/svg'><path stroke='white' d='#{$path}'/></svg>");
            color: $color;
            z-index: 1;
        }

        @if $selected-white == true {
            &.selected-g-kMVV::before {
                color: white;
            }
        }
    }
}

.sidebar-nqHbhN {
    width: 260px;

    .side-2ur1Qk .item-3XjbnG {
        display: flex;
        align-items: center;
        &::before{
            content: "";
            background: currentColor;
            width: 22px;
            height: 22px;
            margin: -2px 12px 0px 0px;
            mask: var(--icon) center/contain no-repeat;
            -webkit-mask: var(--icon) center/contain no-repeat;
            flex-shrink: 0;
            --icon: url("data:image/svg+xml;utf-8;,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path stroke='white' d='M14.2003 5.28571L12.0731 4L7.81876 10.75C7.10967 12.25 6.40064 13 7.81877 14.5L11.0095 16.375M14.2003 5.28571L17.0365 1M14.2003 5.28571L18.904 8.12869M18.904 8.12869L22 10L17.7456 17.5C16.3275 19.75 15.6184 19 14.2003 18.25L11.0095 16.375M18.904 8.12869L22 3.25M11.0095 16.375L9 19C8.6 19.8 9.5 20.6667 10 21C11.6 22.2 11.3397 23.8333 11.0095 24.5Z'/></svg>");
        }
    }
}

// <-- User Settings --> //
@include icon(
    "my-account-tab",
    "M3 22C3 12.087 21 12.087 21 22M12 3C8.07273 3 7.09091 6.30435 7.09091 7.95652C7.09091 11.9217 10.3636 12.913 12 12.913C15.9273 12.913 16.9091 9.6087 16.9091 7.95652C16.9091 3.9913 13.6364 3 12 3Z"
);

@include icon(
    "profile-customization-tab",
    "M1 13C1 6.73913 12 6.73913 12 13M6.5 1C4.1 1 3.5 3.08696 3.5 4.13043C3.5 6.63478 5.5 7.26087 6.5 7.26087C8.9 7.26087 9.5 5.17391 9.5 4.13043C9.5 1.62609 7.5 1 6.5 1Z'/><path stroke='white' d='M13 18L20 3L23.5 5L17 20L14 21L13 18Z"
);

@include icon(
    "privacy-&-safety-tab",
    "M12 1L3 5.4V15.3C3 17.5 10.875 23 12 23C13.125 23 21 17.5 21 15.3V5.4L12 1ZM12 4.5L6.5 7V12H17.5V14.5C17.5 16.15 14.25 17.85 12 19.5V4.5Z"
);

@include icon(
    "authorized-apps-tab",
    "M1 12C1 10 2.2 6 7 6C9 6 12 8 12 10H23V17.5H20V14H17V16.5H14V14H12C12 15.3333 10 18 7 18C2 18 1 13.6 1 12ZM4.14999 11.85C4.14999 10.6 4.94999 9.35001 6.54999 9.35001C8.14999 9.35001 8.94999 10.6 8.94999 11.85C8.94999 13.1 8.14999 14.35 6.54999 14.35C4.94999 14.35 4.14999 13.1 4.14999 11.85Z"
);

@include icon(
    "connections-tab",
    "M12 3H4.8C3.36 3 3 4.2 3 4.8V19.2C3 20.64 4.2 21 4.8 21H19.2C20.64 21 21 19.8 21 19.2V12M12 12L21 3M21 3V8.4M21 3H15.6"
);

@include icon(
    "discord-nitro-tab",
    "M22.0647 8.17046C22.0647 8.17046 23 9.58413 23 11.7429M23 11.7429C23 18.5429 16.25 20 13.875 20C8.175 20 5.8 14.7111 5.8 12.5524H4.625C3.865 12.5524 3.575 12.0127 3.575 11.7429C3.575 11.0952 4.30833 10.9333 4.625 10.9333H6.97368C7.73368 10.9333 8.02368 10.3937 8.02368 10.1238C8.02368 9.47619 7.29035 9.31429 6.97368 9.31429H2.95C2.19 9.31429 2 8.7746 2 8.50476C2 7.85714 2.63333 7.69524 2.95 7.69524H8.63158C9.47158 7.69524 9.73684 6.98859 9.73684 6.71875C9.73684 5.94161 8.98158 5.91429 8.63158 5.91429H6.2C4.94 5.91429 4.625 4.94286 4.625 4.45714C4.625 3.29143 5.675 3 6.2 3H13.875C20.335 3 23 8.82857 23 11.7429 M0.25 8.5C0.25 8.26325 0.358108 8.00284 0.790539 8.00284C0.970718 8.00284 1.25 7.93181 1.25 8.5C1.25 8.73674 1.22297 8.99716 0.790539 8.99716C0.610359 8.99716 0.25 9.06818 0.25 8.5 M19 11.5C19 10 18.1 7 14.5 7C13 7 10 7.9 10 11.5C10 13 10.9 16 14.5 16C16 16 19 15.1 19 11.5 M17.5 11.5L16 9H14.5H13L11.5 11.5L13 14H16L17.5 11.5Z",
    $color: rgba(var(--nitro-pink)),
    $selected-white: true
);

@include icon(
    "nitro-server-boost-tab",
    "M6 8L12 2L18 8V16L12 22L6 16V8ZM8 9L12 5L14.5 7.5L8 13V9ZM12 19L8.5 15.5L16 9V15L12 19Z"
);

@include icon(
    "subscriptions-tab",
    "M14 3C12.5 1 11.5 1 10 1C6 1 5 4.33333 5 6C5 10 8.33333 11 10 11M1 20C1 14 7 12.5 10 12.5H12.5M0.5 20H12.5M19 7.8C19 5.56 16.6667 5 15.5 5C12.7 5 12 6.86667 12 7.8C12 10.6 15.0625 11.0667 15.5 11.5333C18.5625 12.9333 19 15.7333 19 16.2C19 18.44 16.6667 19 15.5 19C12.7 19 12 17.1333 12 16.2 M15.75 3.5V20.5Z"
);

@include icon(
    "library-inventory-tab",
    "M11.2392 10.4782C9.16408 7.72144 1.03113 2.65498 3.44255 6.27209C4.41562 7.73169 7.28241 10.6116 11.1216 10.7656M11.2392 10.4782C11.3131 10.5763 11.3793 10.6716 11.4371 10.7634M11.2392 10.4782C12.3697 7.6084 12.039 5.22388 14.9425 3.77209C16.2759 2.93875 19.0425 2.07209 19.4425 5.27209C19.6067 7.07776 18.2212 10.6606 11.4371 10.7634M11.2392 10.4782C11.2017 10.5735 11.1625 10.6693 11.1216 10.7656M11.4371 10.7634C11.4389 10.7663 11.4407 10.7692 11.4425 10.7721C11.3348 10.7721 11.2278 10.7699 11.1216 10.7656M11.4371 10.7634C11.3332 10.765 11.228 10.7657 11.1216 10.7656M3 23H11.5V15H2V22C2 22.8 2.66667 23 3 23ZM12.5 23H21C21.8 23 22 22.3333 22 22V15H12.5V23ZM22 14C22.8 14 23 12.8333 23 12.5C23 11.7 22.3333 11 22 11H2C1.2 11 1 12.1667 1 12.5C1 13.3 1.66667 14 2 14H22Z"
);

@include icon(
    "billing-tab",
    "M2 9.5V8C2 6.4 3.33333 6 4 6H20C21.6 6 22 7.33333 22 8V9.5M2 9.5H22M2 9.5V12M22 9.5V12M2 12V17C2 17.6667 2.4 19 4 19H20C20.6667 19 22 18.6 22 17V12M2 12H22Z"
);

@include icon(
    "appearance-tab",
    "M13.2324 16.85C11.4133 16.85 9.8216 14.9697 8.68467 13.4654M13.2324 16.85L15.8852 13.4654M13.2324 16.85C13.2324 21.3187 7.16876 23 4.13693 23C3.68216 23 3 22.4359 3 22.4359C3 21.9846 3.56847 21.3077 3.56847 21.3077C4.47801 20.8564 4.51591 19.9915 4.13693 19.6154C3 14.5385 6.60029 14.1991 8.68467 13.4654M8.68467 13.4654L11.3807 10.0256M11.3807 10.0256L16.6432 3.31153C18.9171 1.05512 21.3804 0.867086 22.3279 1.05512C24.147 2.86025 21.7594 5.56794 21.1909 6.69615L15.8852 13.4654M11.3807 10.0256C12.4073 11.8308 14.8115 13.0709 15.8852 13.4654"
);

@include icon(
    "accessibility-tab",
    "M9 5C9 4 9.67004 2 12.07 2C13.07 2 15 2.6 15 5C15 6 14.47 8 12.07 8C11.07 8 9 7.4 9 5 M20.07 8.5C19.07 9.5 5.07005 9.5 4.07005 8.5C3.07004 8 1.67004 8.4 2.07004 10C2.07004 10 2.07004 11 4.07005 11.5L8.07005 12V20C8.07005 20.5 8.05 21.5 9.25 21.5C9.75 21.5 10.5 21.2 10.5 20V16C10.5 15 11.27 14.5 12.07 14.5C12.4034 14.5 13.5 14.5 13.5 16V19.5C13.5 20.1667 13.55 21.5 14.75 21.5C15.25 21.5 16.07 21.2 16.07 20V12L20.07 11.5C20.7367 11.5 22.07 11.2 22.07 10C22.07 9.33333 22.07 8 20.07 8.5Z"
);

@include icon(
    "voice-&-video-tab",
    "M6.5 12C6.5 15.6 10.5 18 12 18M12 18C15.6 18 17.5 13.5 17.5 12M12 18V22M12 2C9.6 2 9 4 9 5V12C9 14.4 11 15 12 15C14.4 15 15 13 15 12V5C15 2.6 13 2 12 2Z"
);

@include icon(
    "text-&-images-tab",
    "M1 3C1 2.33333 1.4 1 3 1H21C21.6667 1 23 1.4 23 3V21C23 21.6667 22.6 23 21 23H3C2.33333 23 1 22.6 1 21V3ZM19 18.5H5L8.5 9L12 14L14 12L19 18.5Z M13 7C13 6.66667 13 5 15 5C15.3333 5 17 5 17 7C17 7.33333 17 9 15 9C14.6667 9 13 9 13 7Z"
);

@include icon(
    "notifications-tab",
    "M6 9C6 6 7.2 1 12 1C15 1 18 4.2 18 9V13.5C18 14.5 18.6 19 21 19H3C4 19 6 15.9 6 13.5V9ZM12 23C13 23 15 22.4 15 20H9C9 21 9.6 23 12 23Z"
);

@include icon(
    "keybinds-tab",
    "M9.5 9C9.5 9.33333 9.3 10 8.5 10C8.16667 10 7.5 9.8 7.5 9C7.5 8.66667 7.7 8 8.5 8C8.83333 8 9.5 8.2 9.5 9M13.5 9C13.5 9.33333 13.3 10 12.5 10C12.1667 10 11.5 9.8 11.5 9C11.5 8.66667 11.7 8 12.5 8C12.8333 8 13.5 8.2 13.5 9M17.5 9C17.5 9.33333 17.3 10 16.5 10C16.1667 10 15.5 9.8 15.5 9C15.5 8.66667 15.7 8 16.5 8C16.8333 8 17.5 8.2 17.5 9M21.5 9C21.5 9.33333 21.3 10 20.5 10C20.1667 10 19.5 9.8 19.5 9C19.5 8.66667 19.7 8 20.5 8C20.8333 8 21.5 8.2 21.5 9M3.5 9C3.5 9.33333 3.7 10 4.5 10C4.83333 10 5.5 9.8 5.5 9C5.5 8.66667 5.3 8 4.5 8C4.16667 8 3.5 8.2 3.5 9M5.5 13C5.5 12.6667 5.3 12 4.5 12C4.16667 12 3.5 12.2 3.5 13C3.5 13.3333 3.7 14 4.5 14C4.83333 14 5.5 13.8 5.5 13M9.5 13C9.5 13.3333 9.3 14 8.5 14C8.16667 14 7.5 13.8 7.5 13C7.5 12.6667 7.7 12 8.5 12C8.83333 12 9.5 12.2 9.5 13M13.5 13C13.5 13.3333 13.3 14 12.5 14C12.1667 14 11.5 13.8 11.5 13C11.5 12.6667 11.7 12 12.5 12C12.8333 12 13.5 12.2 13.5 13M17.5 13C17.5 13.3333 17.3 14 16.5 14C16.1667 14 15.5 13.8 15.5 13C15.5 12.6667 15.7 12 16.5 12C16.8333 12 17.5 12.2 17.5 13M21.5 13C21.5 13.3333 21.3 14 20.5 14C20.1667 14 19.5 13.8 19.5 13C19.5 12.6667 19.7 12 20.5 12C20.8333 12 21.5 12.2 21.5 13M6.5 17C6.5 16.6667 6.7 16 7.5 16H16.5C16.8333 16 17.5 16.2 17.5 17C17.5 17.3333 17.3 18 16.5 18H7.5C7.16667 18 6.5 17.8 6.5 17Z"
);

@include icon(
    "language-tab",
    "M5.85 2L7.5 3.61538H0H14M13 3.61538H10.8M10.8 3.61538C10.8 7.92308 5.85 14.2051 3.65 16M4.2 5.23077C4.2 8.67692 9.51667 13.3077 11.35 14.3846 M9 21L11.88 15M21 21L17.88 15M17.88 15L14.76 9L11.88 15M17.88 15H11.88Z"
);

@include icon(
    "windows-tab",
    "M22 11V1.5L11 4V11H22M2 11H9V4.5L2 6V11ZM9 13H2V18L9 19.5V13M11 20V13H22V22.5L11 20Z"
);

@include icon(
    "streamer-mode-tab",
    "M17 12V16C17 16.6667 16.6 18 15 18H3C2.33333 18 1 17.6 1 16V8C1 7.33333 1.4 6 3 6H15C15.6667 6 17 6.4 17 8V12ZM17 12L23 18V6L17 12ZM4 8Z"
);

@include icon(
    "advanced-tab",
    "M3 12H21M12 3V21"
);

@include icon(
    "game-activity-tab",
    "M15 2H9V7.5L12 10.5L15 7.5V2M15 22H9V16.5L12 13.5L15 16.5V22M7.5 15L10.5 12L7.5 9H2V15H7.5M16.5 9L13.5 12L16.5 15H22.5V9H16.5Z"
);

@include icon(
    "overlay-tab",
    "M4 9L12 6L20 9L12 12L4 9M8 10.5L4 12L12 15L20 12L16 10.5M8 13.5L4 15L12 18L20 15L16 13.5"
);

@include icon(
    "pc-general-tab",
    "M14.5 2H10L9 6.5L4 5.5L2 8.5L5.5 12L2 15L4 18.5L9 17.5L10 22H14.5L15.5 17.5L19.5 18.5L22 15L18.5 12L22 8.5L19.5 5.5L15.5 6.5L14.5 2M9 12C9 11 9.6 9 12 9C13 9 15 9.6 15 12C15 13 14.4 15 12 15C11 15 9 14.4 9 12Z"
);

@include icon(
    "pc-modulemanager-plugins-tab",
    "M14.2003 5.28571L12.0731 4L7.81876 10.75C7.10967 12.25 6.40064 13 7.81877 14.5L11.0095 16.375M14.2003 5.28571L17.0365 1M14.2003 5.28571L18.904 8.12869M18.904 8.12869L22 10L17.7456 17.5C16.3275 19.75 15.6184 19 14.2003 18.25L11.0095 16.375M18.904 8.12869L22 3.25M11.0095 16.375L9 19C8.6 19.8 9.5 20.6667 10 21C11.6 22.2 11.3397 23.8333 11.0095 24.5Z"
);

@include icon(
    "pc-modulemanager-themes-tab",
    "M13.2324 16.85C11.4133 16.85 9.8216 14.9697 8.68467 13.4654M13.2324 16.85L15.8852 13.4654M13.2324 16.85C13.2324 21.3187 7.16876 23 4.13693 23C3.68216 23 3 22.4359 3 22.4359C3 21.9846 3.56847 21.3077 3.56847 21.3077C4.47801 20.8564 4.51591 19.9915 4.13693 19.6154C3 14.5385 6.60029 14.1991 8.68467 13.4654M8.68467 13.4654L11.3807 10.0256M11.3807 10.0256L16.6432 3.31153C18.9171 1.05512 21.3804 0.867086 22.3279 1.05512C24.147 2.86025 21.7594 5.56794 21.1909 6.69615L15.8852 13.4654M11.3807 10.0256C12.4073 11.8308 14.8115 13.0709 15.8852 13.4654"
);

@include icon(
    "pc-updater-tab",
    "M21.3669 8.51499C24.2338 15.9836 18.7267 20.2399 15.6148 21.4345C8.14612 24.3014 3.88984 18.7943 2.69528 15.6823C-0.171662 8.2137 5.33547 3.95743 8.44741 2.76286C14.9825 0.25428 17.9955 3.91785 19.6458 5.42665M19.6458 5.42665L19.3251 1.80075M19.6458 5.42665L16.3075 5.10138M12 5V11.5M12 11.5L17.5 16Z"
);

@include icon(
    "changelog-tab",
    "M14.6667 3H6.13333C5.42222 3 4 3.4 4 5V20C4 20.6667 4.42667 22 6.13333 22H17.8667C18.5778 22 20 21.6 20 20V8C20 7.66667 19.7867 6.8 18.9333 6L16.8 4C16.4444 3.66667 15.52 3 14.6667 3M15 3V6.5C15 7.7 16 8 16.5 8H20M7 7H12M7 10H16M7 13H16M7 16H16Z"
);

@include icon(
    "hypesquad-online-tab",
    "M14.5 8L22 4L17.5 11L22 10L12 17.5L2 10L6.5 11L2 4L9.5 8L12 12L14.5 8Z",
    $color: gold
);

@include icon(
    "logout-tab",
    "M7.83334 3H19.1667C21.4333 3 22 5 22 6V18C22 20.4 20.1111 21 19.1667 21H7.83334M15 12H2M2 12L6.33333 8M2 12L6.33333 16"
);

// <-- Guild Settings --> //
@include icon(
    "overview-tab",
    "M3 5C3 4.33333 3.4 3 5 3C5.66667 3 7 3.4 7 5C7 5.66667 6.6 7 5 7C4.33333 7 3 6.6 3 5M3 12C3 11.3333 3.4 10 5 10C5.66667 10 7 10.4 7 12C7 12.6667 6.6 14 5 14C4.33333 14 3 13.6 3 12M3 19C3 18.3333 3.4 17 5 17C5.66667 17 7 17.4 7 19C7 19.6667 6.6 21 5 21C4.33333 21 3 20.6 3 19M9 5C9 4.33333 9 3 15 3C15.6667 3 21 3 21 5C21 5.66667 21 7 15 7C14.3333 7 9 7 9 5M9 12C9 11.3333 9 10 15 10C15.6667 10 21 10 21 12C21 12.6667 21 14 15 14C14.3333 14 9 14 9 12M9 19C9 18.3333 9 17 15 17C15.6667 17 21 17 21 19C21 19.6667 21 21 15 21C14.3333 21 9 21 9 19Z"
);

@include icon(
    "roles-tab",
    "M12 1L3 5.4V15.3C3 17.5 10.875 23 12 23C13.125 23 21 17.5 21 15.3V5.4L12 1M7 17C7 11.2609 17 11.2609 17 17H7ZM12 6C9.81818 6 9.27273 7.91304 9.27273 8.86956C9.27273 11.1652 11.0909 11.7391 12 11.7391C14.1818 11.7391 14.7273 9.82609 14.7273 8.86956C14.7273 6.57391 12.9091 6 12 6Z"
);

@include icon(
    "emoji-tab",
    "M22 12C22 8.66667 20 2 12 2C8.66667 2 2 4 2 12C2 15.3333 4 22 12 22C15.3333 22 22 20 22 12M8.5 8.5C8.5 8.33333 8.4 8 8 8C7.83333 8 7.5 8.1 7.5 8.5C7.5 8.66667 7.6 9 8 9C8.16667 9 8.5 8.9 8.5 8.5M16.5 8.5C16.5 8.33333 16.4 8 16 8C15.8333 8 15.5 8.1 15.5 8.5C15.5 8.66667 15.6 9 16 9C16.1667 9 16.5 8.9 16.5 8.5M17 13H7C7 14.3333 8 17 12 17C13.6667 17 17 16.2 17 13Z"
);

@include icon(
    "stickers-tab",
    "M14.6667 3H6.13333C5.42222 3 4 3.4 4 5V20C4 20.6667 4.42667 22 6.13333 22H17.8667C18.5778 22 20 21.6 20 20V8C20 7.66667 19.7867 6.8 18.9333 6L16.8 4C16.4444 3.66667 15.52 3 14.6667 3M14 3V7.2C14 8.64 15.2 9 15.8 9H20M8 7.5C8 7.33333 8.1 7 8.5 7C8.66667 7 9 7.1 9 7.5C9 7.66667 8.9 8 8.5 8C8.33333 8 8 7.9 8 7.5M8 13C8 15.4 10.6667 16 12 17C12.2816 17 15 15.6 16 13Z"
);

@include icon(
    "moderation-tab",
    "M12 1L3 5.4V15.3C3 17.5 10.875 23 12 23C13.125 23 21 17.5 21 15.3V5.4L12 1ZM12 4.5L6.5 7V12H17.5V14.5C17.5 16.15 14.25 17.85 12 19.5V4.5Z"
);

@include icon(
    "guild_automod_message_filter-tab",
    "M12 1L3 5.4V15.3C3 17.5 10.875 23 12 23C13.125 23 21 17.5 21 15.3V5.4L12 1ZM12 4.5L6.5 7V12H17.5V14.5C17.5 16.15 14.25 17.85 12 19.5V4.5Z"
);

@include icon(
    "audit_log-tab",
    "M14.6667 3H6.13333C5.42222 3 4 3.4 4 5V20C4 20.6667 4.42667 22 6.13333 22H17.8667C18.5778 22 20 21.6 20 20V8C20 7.66667 19.7867 6.8 18.9333 6L16.8 4C16.4444 3.66667 15.52 3 14.6667 3M15 3V6.5C15 7.7 16 8 16.5 8H20M7 7H12M7 10H16M7 13H16M7 16H16Z"
);

@include icon(
    "integrations-tab",
    "M8 5L2 12L8 19M16 5L22 12L16 19M14 4L10 20"
);

@include icon(
    "widget-tab",
    "M2 3C2 2.66667 2.2 2 3 2H10C10.3333 2 11 2.2 11 3V10C11 10.3333 10.8 11 10 11H3C2.66667 11 2 10.8 2 10V3M2 14C2 13.6667 2.2 13 3 13H10C10.3333 13 11 13.2 11 14V21C11 21.3333 10.8 22 10 22H3C2.66667 22 2 21.8 2 21V14M13 14C13 13.6667 13.2 13 14 13H21C21.3333 13 22 13.2 22 14V21C22 21.3333 21.8 22 21 22H14C13.6667 22 13 21.8 13 21V14M12.6285 7.2854C12.419 7.07589 12.1257 6.53115 12.6285 6.02832L17.0283 1.62855C17.2378 1.41903 17.7826 1.12571 18.2854 1.62855L22.6852 6.02832C22.8947 6.23783 23.188 6.78257 22.6852 7.2854L18.2854 11.6852C18.0759 11.8947 17.5311 12.188 17.0283 11.6852L12.6285 7.2854Z"
);
    
@include icon(
    "guild_templates-tab",
    "M4 4V22H18M13.5 7.625V14.375M6 2V20H20V2H6M10 11H17"
);
        
@include icon(
    "vanity_url-tab",
    "M9.15231 7.66674L14.4927 3.52722C16.7636 1.71009 18.9412 3.08749 19.7461 4.00333C21.6779 6.20135 20.2684 8.26513 19.3222 9.02227L14.0865 13.1032M14.0865 13.1032L13.6556 13.439M14.0865 13.1032C14.1246 13.0696 14.1624 13.0352 14.2 13M14.0865 13.1032C12.502 14.4997 10.4765 14.4883 9.49999 14M6.99999 11C7 9.49999 8.27942 8.35001 9.22563 7.59287M14.8477 16.6323L9.50724 20.7718C7.23634 22.589 5.05878 21.2116 4.25387 20.2957C2.32208 18.0977 3.73154 16.0339 4.67775 15.2768L9.91347 11.1959M9.91347 11.1959L10.3444 10.86M9.91347 11.1959C9.87538 11.2294 9.83755 11.2638 9.79999 11.299M9.91347 11.1959C11.498 9.79932 13.5235 9.81078 14.5 10.299M17 13.299C17 14.799 15.7206 15.949 14.7744 16.7062"
);
            
@include icon(
    "community-tab",
    "M3 5C3 4.33333 3.4 3 5 3C5.66667 3 7 3.4 7 5C7 5.66667 6.6 7 5 7C4.33333 7 3 6.6 3 5M3 12C3 11.3333 3.4 10 5 10C5.66667 10 7 10.4 7 12C7 12.6667 6.6 14 5 14C4.33333 14 3 13.6 3 12M3 19C3 18.3333 3.4 17 5 17C5.66667 17 7 17.4 7 19C7 19.6667 6.6 21 5 21C4.33333 21 3 20.6 3 19M9 5C9 4.33333 9 3 15 3C15.6667 3 21 3 21 5C21 5.66667 21 7 15 7C14.3333 7 9 7 9 5M9 12C9 11.3333 9 10 15 10C15.6667 10 21 10 21 12C21 12.6667 21 14 15 14C14.3333 14 9 14 9 12M9 19C9 18.3333 9 17 15 17C15.6667 17 21 17 21 19C21 19.6667 21 21 15 21C14.3333 21 9 21 9 19Z"
);

@include icon(
    "text_in_voice-tab",
    "M12.0385 15.5V20.8871L5.5 15.0807V9.27421L8 7.00001M18.9583 12.5V13.4678C18.9583 18.1129 15.6915 19.5 14.0569 19.5M14.0569 16.0484C15.6915 16.0484 16 14.1129 16 13.4678V12M5.5 9.50001H2.5V15H5.5M12 3.5L19 3.5C20 3.5 20.5 3.83333 20.5 4.5V8.50001C20.5 9.50001 20.1667 9.50001 19.5 9.50001H15.5L11 12L11.5 9.50001C10.5 9.50001 10.5 9.16668 10.5 8.50001V4.50001C10.5 3.5 11.3333 3.5 12 3.5Z"
);

@include icon(
    "analytics-tab",
    "M6.20825 18.3546C5.91417 18.1412 5.52061 18 5 18C4.33333 18 3 18.4 3 20C3 20.6667 3.4 22 5 22C5.66667 22 7 21.6 7 20C7 19.5503 6.81796 18.7971 6.20825 18.3546ZM6.20825 18.3546L10 10L13.5 14.5L19.5 2M19.5 2L15 4M19.5 2L21 6.5M10 18V21.5H11V18M13 20V21.5H14V20M16 16V21.5H17V16M19 10.5V21.5H20V10.5"
);

@include icon(
    "partner-tab",
    "M3.82843 13.703C1.82843 15.0727 -0.17158 11.3371 1.82843 9.96735L8.82843 4.9865C11.3284 3.11868 12.8284 4.36388 13.8284 4.98648L19 8.98087L15.5 11.4713L12.8284 9.34476C11.6284 8.34859 10.3284 8.97121 9.82843 9.34477L3.82843 13.703M20.196 10.297C22.1787 8.92725 24.1615 12.6629 22.1787 14.0326L15.2392 19.0135C12.7608 20.8813 11.2738 19.6361 10.2824 19.0135L5 15.2396L8.46976 12.7492L11.2738 14.6552C12.4634 15.6514 13.7522 15.0288 14.2478 14.6552L20.196 10.297Z"
);

@include icon(
    "discovery-tab",
    "M22 12C22 8.66667 20 2 12 2C8.66667 2 2 4 2 12C2 15.3333 4 22 12 22C15.3333 22 22 20 22 12M9 9.5L16.75 6L15.5 14L7.75 18L9 9.5M13.13 11.75C13.13 11.4167 12.93 10.75 12.13 10.75C11.7967 10.75 11.13 10.95 11.13 11.75C11.13 12.0833 11.33 12.75 12.13 12.75C12.4633 12.75 13.13 12.55 13.13 11.75Z"
);

@include icon(
    "member_verification-tab",
    "M3 5.4L12 1L21 5.4V15.3C21 17.5 13.125 23 12 23C10.875 23 3 17.5 3 15.3V5.4M8 12.5L11 15L17 9"
);

@include icon(
    "community_welcome-tab",
    "M21 22C21 14.8884 14 13 9 14.5C5.5 14.5 5.16667 9.62319 5 7.95652L1 8.5C2.2 14.5 2.35146 17.5 3.5 19M12 3C8.07273 3 7.09091 6.30435 7.09091 7.95652C7.09091 11.9217 10.3636 12.913 12 12.913C15.9273 12.913 16.9091 9.6087 16.9091 7.95652C16.9091 3.9913 13.6364 3 12 3Z"
);

@include icon(
    "guild_premium-tab",
    "M6 8L12 2L18 8V16L12 22L6 16V8ZM8 9L12 5L14.5 7.5L8 13V9ZM12 19L8.5 15.5L16 9V15L12 19Z",
    $color: rgba(var(--nitro-pink)),
    $selected-white: true
);

@include icon(
    "members-tab",
    "M3 22C3 12.087 21 12.087 21 22M12 3C8.07273 3 7.09091 6.30435 7.09091 7.95652C7.09091 11.9217 10.3636 12.913 12 12.913C15.9273 12.913 16.9091 9.6087 16.9091 7.95652C16.9091 3.9913 13.6364 3 12 3Z"
);

@include icon(
    "instant_invites-tab",
    "M3 22C3 12.087 21 12.087 21 22M16.3861 10.2622C15.7513 11.6294 14.4478 12.913 12 12.913C10.3636 12.913 7.09091 11.9217 7.09091 7.95653C7.09091 6.53888 7.81377 3.90482 10.5 3.18558M12 4H20M16 0V8"
);

@include icon(
    "bans-tab",
    "M3.65948 11.7369L0.696991 5.60643L2.40801 4.63945L3.24381 5.82264C7.71755 3.925 17.8807 2.04426 22.7432 9.70245C21.4085 8.29214 18.0674 6.30752 12.2299 6.98866L16.917 19.8511L13.3812 21.1398L9.18855 7.52492C7.88774 7.82889 6.50076 8.25685 5.02919 8.83422L5.97876 10.6626L3.65948 11.7369Z"
);

@include icon(
    "delete-tab",
    "M8.5 8.14286L10 18.8571M12 8V18.5M15.5 8L14 19M5 4.5H19M9.5 3H14.5M6 6H18L16 21H8L6 6Z"
);

// <-- Channel Settings --> //
@include icon(
    "permissions-tab",
    "M12 1L3 5.4V15.3C3 17.5 10.875 23 12 23C13.125 23 21 17.5 21 15.3V5.4L12 1ZM12 4.5L6.5 7V12H17.5V14.5C17.5 16.15 14.25 17.85 12 19.5V4.5Z"
);
