// <-- bot tags -->
.header_c19a55 {
    overflow: visible !important;
}

.botTagRegular__82f07 {
    background: rgba(var(--phen-aqua));
    filter: drop-shadow(0 0 4px rgba(var(--phen-aqua)));
    align-content: center;

    .botText__82f07 {
        font-weight: 500;
        font-size: 11px;
    }
}

.memberInner__5d473 > .content__91a9d {
    overflow: visible;
}

// <-- op tag (forums) -->
.botTagOP__82f07 {
    color: white;
}
