// <-- bot tags -->
.zalgo_f9f2ca.cozy_f9f2ca .header_f9f2ca {
    overflow: visible;
}

.botTagRegular_a9e77f {
    background: rgba(var(--phen-aqua));
    filter: drop-shadow(0 0 4px rgba(var(--phen-aqua)));
    align-content: center;

    .botText_a9e77f {
        font-weight: 500;
        font-size: 11px;
    }
}

.memberInner_a31c43.layout_d808b0 > .content_d808b0 {
    overflow: visible;
}

// <-- op tag (forums) -->
.botTagOP_a9e77f {
    color: white;
}
