:root {
    --embed-bg-gdkord: 240, 6.5%, 15%;
}

// <-- embeds -->
.embedFull__623de,
.visual-refresh .embedFull__623de {
    filter: drop-shadow(0 0 var(--default-drop-shadow) rgba(0, 0, 0, 0.35));
    transition: 0.2s ease-in-out;

    border-left-width: 100px;
    border-right: none;
    border-top: none;
    border-bottom: none;

    &::before {
        content: "";
        left: -100px;
        width: 100px;
        height: 100%;
        position: absolute;
        background: linear-gradient(
            to right,
            transparent 3.9%,
            hsla(var(--embed-bg-gdkord), 0.6) 4%,
            hsla(var(--embed-bg-gdkord), 0.7) 5%,
            hsla(var(--embed-bg-gdkord), 0.85) 15%,
            hsla(var(--embed-bg-gdkord), 0.95) 35%,
            hsla(var(--embed-bg-gdkord)) 100%
        ) !important;
    }

    &:hover {
        transform: translateX(5px);
        border-color: transparent !important;
    }

    &:not([style]) {
        border-left-color: transparent !important;
    }
}

.gridContainer__623de {
    z-index: 1;
    max-width: 416px;
}

.grid__623de,
.visual-refresh .grid__623de {
    padding-top: 0.4rem;
    margin-left: -97px;
}
