:root {
    --gdkromatic: hsla(300, 100%, 50%);
    --bg-brand: var(--gdkromatic);

    --phen-aqua: 55, 178, 203;

    --embed-background: 40, 40, 40;
    --default-drop-shadow: 6px;

    --black: 0, 0, 0;

    --listitem-shadow: 0 0 24px var(--background-tertiary),
        0 0 12px var(--background-tertiary), 0 0 6px var(--background-tertiary);
}

// <-- bot tags -->
.zalgo_f9f2ca.cozy_f9f2ca .header_f9f2ca {
    overflow: visible;
}

.botTagRegular_a9e77f {
    background: rgba(var(--phen-aqua));
    filter: drop-shadow(0 0 var(--default-drop-shadow) rgba(var(--phen-aqua)));
    align-content: center;

    .botText_a9e77f {
        font-weight: 100;
        font-size: 11px;
        top: 0.03rem;
    }
}

.memberInner_a31c43.layout_d808b0 > .content_d808b0 {
    overflow: visible;
}

// <-- embeds -->
.embedFull_b0068a {
    background-color: rgba(var(--embed-background));
    filter: drop-shadow(0 0 var(--default-drop-shadow) rgba(var(--black), 0.35));
    transition: 0.2s ease-in-out;
    border-width: 100px;

    &::before {
        content: "";
        left: -100px;
        width: 100px;
        height: 100%;
        position: absolute;
        background: linear-gradient(
            to right,
            transparent 3.9%,
            rgba(var(--embed-background), 0.6) 4%,
            rgba(var(--embed-background), 0.7) 7%,
            rgba(var(--embed-background), 0.85) 14%,
            rgba(var(--embed-background), 0.95) 35%,
            rgba(var(--embed-background)) 100%
        );
    }

    &:hover {
        transform: translateX(5px);
        border-color: transparent !important;
    }

    &:not([style]) {
        border-left-color: transparent !important;
    }
}

.gridContainer_b0068a {
    z-index: 1;
    max-width: 416px;
}

.grid_b0068a {
    margin-left: -97px;
}

// <-- pinned server list items -->
.tutorialContainer_f9623d {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: var(--background-tertiary);
    box-shadow: var(--listitem-shadow);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 69px;
        top: -15px;
        background: var(--background-tertiary);
        box-shadow: var(--listitem-shadow);
    }

    & ~ div[style*="opacity"] {
        position: sticky;
        top: 56px;
        z-index: 1;
        background: var(--background-tertiary);
        box-shadow: var(--listitem-shadow);
    }
}

// <-- home button -->
.tutorialContainer_f9623d .selected_dfb2f8 svg.svg_c5f96a,
.tutorialContainer_f9623d svg.svg_c5f96a:hover {
    filter: drop-shadow(0 0 5px var(--gdkromatic));

    .wrapper_f90abb > div {
        background-color: var(--gdkromatic);
    }
}
