@use "bot-tags";
@use "buttons";
@use "embeds";
@use "presences";
@use "reactions";
@use "serverlist";
@use "top-bar";
@use "watermark";

:root {
    --gdkromatic: 300, 100%, 50%;
    --gdkromatic-hover: 300, 100%, 40%;
    --gdkromatic-active: 300, 100%, 30%;
    --bg-brand: hsla(var(--gdkromatic));

    --background-image: url("https://i.vgy.me/SPEMbr.png");

    --gray: 219, 8%, 34%;
    --gray-hover: 217, 9%, 28%;
    --gray-active: 215, 11%, 22%;

    --green: 139, 48%, 47%;
    --green-hover: 139, 49%, 35%;
    --green-active: 138, 48%, 26%;

    --red: 359, 83%, 59%;
    --red-hover: 359, 58%, 46%;
    --red-active: 358, 59%, 37%;

    --yellow: 41, 70%, 57%;
    --streaming-purple: 262, 46%, 50%;

    --phen-aqua: 55, 178, 203;
    --default-drop-shadow: 6px;

    --listitem-shadow: 0 0 24px var(--background-tertiary),
        0 0 12px var(--background-tertiary), 0 0 6px var(--background-tertiary);

    --custom-app-top-bar-height: 0px;
    --custom-guild-list-width: 60px;
}

// <-- tags on forum posts covering up Replugged install cards in preview -->
.textContentFooter_a57509 {
    background-color: transparent;
}
