:root {
    --reaction-green: rgba(0, 255, 0);
}

// <-- reactions -->
.reaction_ec6b19 {
    border-color: rgba(100, 100, 100, 0);
    background-color: rgba(100, 100, 100, 0.2);

    &:hover {
        background-color: rgba(100, 100, 100, 0.2);
        border-color: rgba(100, 100, 100, 0);
    }

    &:active {
        background-color: rgba(100, 100, 100, 0.2);
    }

    &.reactionMe_ec6b19 {
        background-color: rgba(0, 0, 0);
        border-color: var(--reaction-green);
        filter: drop-shadow(
            0 0 calc(var(--default-drop-shadow) - 3px) rgba(var(--reaction-green))
        );

        .reactionCount_ec6b19 {
            color: var(--reaction-green);
        }
    }
}

.reactionInner_ec6b19 {
    filter: drop-shadow(0 0 var(--default-drop-shadow) rgba(255, 255, 255, 0.4));
}
