// <-- pinned server list items -->
.tutorialContainer__1f388 {
    position: sticky;
    top: 0px;
    z-index: 5;
    background: var(--background-tertiary);
    box-shadow: 0 0 12px var(--background-tertiary);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 94px;
        top: -14px;
        pointer-events: none;
        background: linear-gradient(
            to bottom,
            var(--background-tertiary) 70px,
            transparent 100%
        );
    }

    & ~ div[style*="opacity"] {
        position: sticky;
        top: 56px;
        z-index: 1;

        &::before {
            content: "";
            width: 100%;
            position: absolute;
            height: 66px;
            top: -10px;
            background: linear-gradient(
                to bottom,
                transparent 0%,
                var(--background-tertiary) 10px
            );
        }

        &:nth-last-child(6)::before {
            height: 90px;
            pointer-events: none;
            background: linear-gradient(
                to bottom,
                transparent 0%,
                var(--background-tertiary) 10px,
                var(--background-tertiary) 63px,
                transparent 100%
            );
        }
    }
}

// <-- home button -->
.tutorialContainer__1f388 .selected__91816 svg.svg_cc5dd2,
.tutorialContainer__1f388 svg.svg_cc5dd2:hover {
    filter: drop-shadow(0 0 5px hsla(var(--gdkromatic)));

    .wrapper__6e9f8 > div {
        background-color: hsla(var(--gdkromatic));
    }
}
